@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10 10 10; /* Dark Cabinet Black */
  --foreground: 255 255 255;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  /* This ensures the scrollbar matches the dark theme */
  scrollbar-width: thin;
  scrollbar-color: #525252 #0a0a0a;
}

/* Optional: Custom Scrollbar for Chrome/Safari */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}